@import "folder/main.css";
@import "folder/btn.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  background: #fff;
  background-size: cover;
}

.header {
  width: 100vw;
  border: red 1px solid;
  display: flex;
  justify-content: center;
  height: 47px;
  background: #fff;
  margin: 0 auto;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__menu-button {
  border: none;
  background: none;
  padding: 0;
}
.logo-text {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  letter-spacing: 0.44px;
}
.header__menu-logo {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.header__explore-button {
  display: none;
}
.form {
  display: none;
}
.header__navigations-nav {
  display: none;
}

.header__navigations-search {
  display: none;
}
.header__buttons {
  display: flex;
  gap: 16px;
}
.header__buttons_log-in,
.header__buttons_sign-up {
  color: #0f8277;
  text-align: center;
  padding: 10px 12px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
}

.header__buttons_sign-up {
  color: #eee;
  border-radius: 4px;
  background: #0f8277;
}

@media (min-width: 768px) {
  .header {
    padding: 16px 12px;
  }
  .header__navigations {
    display: flex;
    align-items: center;
    width: 521px;
  }
  .header__navigations-search {
    display: block;
    border: 1px solid #5c5c5c;
    background: #0f8277;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 32px;
    width: 36px;
    height: 36px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 100px;
    padding: 31px 36px;
  }
  .header__menu-button {
    display: none;
  }
  .header__navigations-search {
    display: none;
  }
  .header__menu-logo {
    display: flex;
    width: 663px;
    justify-content: space-between;
    gap: 44px;
  }
  .header__explore-button {
    display: block;
    width: 98px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #0f8277;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: #eee;
    gap: 8px;
    padding: 10px 12px;
  }
  .form {
    display: block;
  }
  .input-search {
    position: relative;
  }
  .img-search {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    padding: 10px;
    background: #0f8277;
    border: none;
  }
  .input-search {
    width: 366px;
    background: transparent;
    border: 1px solid #5c5c5c;
    padding-left: 12px;
    border-radius: 4px;
  }
  .input-search {
    position: relative;
  }
  .input-search input {
    max-width: 330px;
    height: 36px;
    background: transparent;
    border: none;
  }
  .input-search input:focus {
    outline: none;
  }
  .input-form {
    width: 330px;
    border-radius: 4px;
  }
  .img-search {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    padding: 10px;
    background: #0f8277;
  }
  .form {
    display: flex;
    max-width: 330px;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
  .header__navigations {
    display: flex;
    gap: 104px;
  }
  .header__navigations-nav {
    display: block;
    width: 249px;
  }
  .header__navigations-nav ul {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: space-between;
  }

  .nav-items {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }

  /*.header__search-input {
    display: flex;
    justify-content: space-between;
    width: 330px;}*/
}
