.btn-container {
  width: 140px;
  margin: 0 auto;
  margin-top: 32px;
}
.more__btn {
  display: block;
  color: #0f8277;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  background: none;
  border: none;
  position: relative;
}

.more__btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../image/strelka.png);
  right: -26px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .btn-container {
    width: 165px;
  }
  .more__btn {
    font-size: 20px;
  }
}
