.wrapper {
  width: 100%;
  margin: 0 auto;
}
main {
  padding-left: 8px;
  padding-right: 8px;
}
.plan,
.cooperates {
  width: 100vw;
}
/*-----section main-title-------*/
.main-title_container {
  width: 100%;
  margin: 0 auto;
  background: #dbf3ed;
}
.main-title {
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 119px 16px;
}
.main-img {
  display: none;
}
.title {
  color: #000;
  font-size: 46px;
  font-weight: 700;
  line-height: 120%;
}
.title-text {
  color: #000;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.main-title-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title-button-start,
.title-button-learn {
  color: #eee;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
  border-radius: 4px;
  background: #0f8277;
  border: none;
  cursor: pointer;
}
.title-button-learn {
  color: #0f8277;
  background: transparent;
  border: 2px solid #0f8277;
}
/*----section choose-program----*/
.section_choose-program {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title-section-choose {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 64px;
}
.section_choose-before-title {
  color: #0f8277;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.section_choose-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
}
.section_choose-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
/*----academic-----*/
.academic-training,
.course {
  box-sizing: border-box;
  border: 1px solid lightgray;
  overflow: hidden;
  border-radius: 7px;
}
.training-description,
.course-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 16px;
}
.img-building,
.img-course {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.logo-and-descr {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo-danit {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo-dan {
  width: 72px;
  height: 20px;
}
.training-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.education-descr {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.get-diploma {
  display: flex;
  gap: 12px;
  align-items: center;
  color: #0f8277;
  font-size: 14px;
  font-weight: 500;
}
/*------courses-------*/
.logo-danit-course {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.get-course {
  color: #0f8277;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}
.logo-danit-course {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/*-----topics---------*/
.topics {
  margin: 64px 8px 0;
}

.topics__wrapper {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  /*column-gap: 24px;*/
  row-gap: 32px;
  justify-content: space-between;
}

.topics__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 167px;
}

.topics__card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.topics__card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topics__card-item-name {
  color: #0f8277;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-decoration: none;
}

.topics__card-item-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

/*-----cooperate------*/
/*.cooperate {
  background: #dbf3ed;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 8px;
  margin-top: 64px;
}

*/
.cooperates-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 8px;
  justify-content: center;
  align-items: center;
  background: #dbf3ed;
  margin-top: 64px;
}
.cooperates-title-name {
  text-align: center;
  font-family: Quicksand;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.cooperates-grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  row-gap: 24px;
  column-gap: 14px;
}

.cooperates-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cooperates-grid img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*------------------solution---------------------- */

.solution {
  margin-top: 64px;
}
.solution__title-text {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 32px;
}
.solution__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.solution {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 64px 8px;
}
.solution__title-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.solution_text {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
.solution__logos {
  display: grid;
  grid-template-columns: repeat(3, 116px);
  grid-auto-rows: 66px;
  justify-content: center;
}
.solution__logos-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 66px;
  padding: 10px;
}
.solution__logos-img1 {
  width: 88px;
  height: 16px;
}

.solution__logos-img2 {
  width: 35px;
  height: 33px;
}

.solution__logos-img3 {
  width: 62px;
  height: 46px;
}

.solution__logos-img4 {
  width: 77px;
  height: 24px;
}

.solution__logos-img5 {
  width: 35px;
  height: 30px;
}

.solution__logos-img6 {
  width: 86px;
  height: 25px;
}

.solution__logos-img7 {
  width: 77px;
  height: 18px;
}

.solution__logos-img8 {
  width: 33px;
  height: 32px;
}

.solution__logos-img9 {
  width: 86px;
  height: 16px;
}
.solution__logos-div1,
.solution__logos-div2,
.solution__logos-div4,
.solution__logos-div5 {
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}

.solution__logos-div6 {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}

.solution__logos-div8 {
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
/*-------plan-----------*/
.plan {
  background: #dbf3ed;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 8px 80px;
}

.plan-h2 {
  text-align: center;
}
.plan__part {
  border-radius: 24px;
  border: 1px solid #0f8277;
  padding: 32px;
  position: relative;
}
.plan__part::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80%;
  background: #0f8277;
  border-radius: 80px;
  left: 5%;
  bottom: 50%;
}
.plan__part1,
.plan__part3 {
  background: #fdfdfd;
}
.plan__part2 {
  color: #fdfdfd;
  background: #0f8277;
}

.plan__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}
.plan__title-text {
  text-align: center;

  font-size: 14px;

  font-weight: 500;
  line-height: 16.8px;
}
.price {
  text-align: center;
  font-size: 30px;

  font-weight: 700;
  line-height: 36px;
}
.plan__btn {
  color: #fff;
  align-items: center;
  padding: 10px 12px;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  width: 100%;
  border-radius: 4px;
  border: none;
  background: #0f8277;
}
.plan__btn-2 {
  border: 2px solid #fff;
}
.plan_top-section {
  padding-bottom: 30px;
}
.plan__nav {
  margin-top: 32px;
}
/*.plan_top-section::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #0f8277;
  border-radius: 80px;
  left: 0;
  bottom: 50%;*/

.plan ul {
  list-style-type: none;
  text-align: left;
  position: relative;
  padding-left: 32px;
  column-gap: 16px;
}
.plan li {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}
.plan li:last-child {
  margin-bottom: 0;
}

.plan li::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 500px;
  background-color: #0f8277;
  background-image: url(../../image/galochka_white.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
.plan_top-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/*---------photos-----------*/
.photos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 64px 8px;
}
.photos__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%; /* 36px */
}
.photos__student-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 167px);
  grid-auto-rows: 116px;
  margin-top: 32px;
  justify-content: center;
}
.photo-student {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-student-2 {
  grid-row: 2;
}
.photo-student-9 {
  grid-row: 2;
}
.photo-student-4 {
  grid-row: span 2;
  grid-column: span 2;
}

.photo-student-6 {
  grid-row: 6;
  grid-column: 2;
}

/*---------contact----------*/
.contact {
  margin-top: 64px;
  padding: 64px 8px;
  background: #dbf3ed;
}
.contact__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
}
.contact__descr {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.contact__form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__form-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__form-input-container label {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.contact__form-input-container input,
textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  font-size: 14px;
  font-weight: 500;
}

.contact__form-input-container textarea {
  resize: none;
  width: 100%;
  height: 104px;
}

.contact__form-input-container input::placeholder,
textarea::placeholder {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.contact__form-btn {
  padding: 10px 12px;
  border-radius: 4px;
  background: #0f8277;
  border: #0f8277;
  color: #f6fdff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}
/*------------FOOTER---------------*/
.footer {
  padding: 32px 9px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer__logo a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 0.44px;
}

.footer__text {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

.footer__social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer__social-network {
  display: flex;
  gap: 24px;
}

.footer__social-network a {
  text-decoration: none;
}

.footer__rights {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}

/*-----------------------------min-width:-------------------------- 768px */
@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  main {
    padding: 0px 12px;
  }
  .main-title {
    padding: 103px 300px 104px 64px;
    position: relative;
  }
  .main-img {
    display: block;
    position: absolute;
    top: 76px;
    right: 18px;
    width: 345px;
    height: 332px;
  }
  .main-title-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
  /*----section choose-program----*/
  .academic {
    display: flex;
    gap: 24px;
  }
  .section_choose-program {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .academic-training {
    flex: 30%;
  }
  .img-building {
    height: 180px;
  }

  .training-description,
  .course-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
  }
  .logo-and-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
  /*------courses-------*/
  .courses {
    display: flex;
    gap: 24px;
  }
  .course {
    flex: 25%;
  }
  .img-course {
    height: 160px;
  }
  .courses-and-specializations {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .course-description {
    box-sizing: border-box;
    height: 230px;
  }
  /*-----topics---------*/
  .topics {
    margin-top: 68px;
  }
  .topics__card {
    gap: 32px;
  }

  /*-----cooperates------*/

  .cooperates-grid-box {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 0;
  }

  .cooperates-container {
    gap: 40px;
    padding: 64px 12px;
  }

  .partners-icons {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 0;
  }
  /*----solution----*/
  .solution {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
  .solution__title-text {
    margin-bottom: 0;
  }
  .solution-btn {
    width: 118px;
  }
  /*-------plan-----------*/
  .plan {
    display: flex;
    gap: 40px;
  }
  .plan__part {
    padding: 56px;
    flex: 30%;
  }

  .plans {
    display: flex;
    gap: 24px;
  }
  /*---------photos-----------*/
  .photos__student-grid {
    margin-top: 40px;
    grid-template-columns: repeat(4, 168px);
  }

  .photo-student-3 {
    grid-row: 3;
  }

  .photo-student-4 {
    grid-row: 3;
    grid-column: 2;
  }

  .photo-student-5 {
    grid-row: 3;
    grid-column: 3;
  }

  .photo-student-6 {
    grid-row: 3;
    grid-column: 4;
  }

  .photo-student-7 {
    grid-row: 2;
    grid-column: 4;
  }

  .photo-student-8 {
    grid-row: 1;
    grid-column: 4;
  }

  .photo-student-9 {
    grid-row: span 2;
    grid-column: span 2;
  }

  /*---------contact----------*/
  .contact__form-btn {
    width: 168px;
  }
  .contact__title {
    font-size: 40px;
    font-weight: 700;
  }
  .contact__descr {
    font-size: 20px;
  }
  /*------------FOOTER---------------*/
  .footer {
    padding: 32px 12px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    width: 306px;
    align-items: start;
  }

  .footer__text {
    text-align: left;
  }

  .footer__social-networks {
    height: 93px;
    align-items: flex-end;
    gap: unset;
    justify-content: space-between;
  }
}
/*-----------------------------min-width:-------------------------- 1200px */

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
  main {
    padding: 0 36px;
  }
  .main-title {
    padding: 170px 674px 184px 110px;
  }
  .title {
    font-size: 56px;
  }
  .title-text {
    font-size: 22px;
  }
  .title-button-start,
  .title-button-learn {
    font-size: 16px;
  }
  .main-img {
    width: 500px;
    height: 533px;
    top: 39px;
    right: 55px;
  }
  /*----section choose-program----*/

  .img-building {
    height: 278px;
    width: 416px;
  }
  /*------courses-------*/
  .training-description,
  .course-description {
    height: 210px;
  }
  .img-course {
    width: 306px;
    height: 270px;
  }
  /*-----topics---------*/
  .topics {
    margin-top: 83px;
  }
  .topics__card {
    width: 264px;
  }
  .topics__card-title {
    font-size: 24px;
  }
  .topics__card-item-name {
    font-size: 20px;
  }
  .topics__card-item-text {
    font-size: 16px;
  }
  /*----cooperate------*/
  .cooperates_container {
    gap: 60px;
    padding: 80px 36px;
  }

  .cooperates-title-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    width: 871px;
  }

  .cooperates-title-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    width: 871px;
  }
  /*----solution----*/
  .solution__logos {
    grid-template-columns: repeat(3, 176px);
    grid-auto-rows: 116px;

    /*display: grid;
    grid-template-columns: repeat(3, 176px);
    grid-auto-rows: 116px;
    justify-content: center;*/
  }
  .solution__logos-div {
    width: 176px;
    height: 116px;
    padding: 44px 23px;
  }

  .solution__logos-img1 {
    width: 150px;
    height: 27px;
  }

  .solution__logos-img2 {
    width: 62px;
    height: 62px;
  }

  .solution__logos-img3 {
    width: 111px;
    height: 80px;
  }

  .solution__logos-img4 {
    width: 150px;
    height: 48px;
  }

  .solution__logos-img5 {
    width: 63px;
    height: 57px;
  }

  .solution__logos-img6 {
    width: 151px;
    height: 42px;
  }

  .solution__logos-img7 {
    width: 150px;
    height: 34px;
  }

  .solution__logos-img8 {
    width: 61px;
    height: 60px;
  }

  .solution__logos-img9 {
    width: 150px;
    height: 29px;
  }
  .solution__title-text {
    width: 636px;
  }
  .solution_text {
    width: 568px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .section_choose-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .solution-btn {
    font-size: 16px;
    line-height: 19px;
    width: 107px;
  }
  /*-------plan-----------*/

  /*---------photos-----------*/

  .photos {
    margin-top: 80px;
  }
  .photos__student-grid {
    grid-template-columns: repeat(4, 264px);
    grid-auto-rows: 210.5px;
  }

  /*---------contact----------*/

  .form__container {
    margin: 0 auto;
    width: 856px;
  }

  .contact__form-input-container label {
    font-size: 22px;
  }

  .contact__form-input-container input,
  textarea {
    font-size: 16px;
  }

  .contact__form-input-container input::placeholder,
  textarea::placeholder {
    font-size: 16px;
  }

  .contact__form-btn {
    width: 196px;
  }
  /*------------FOOTER-----------*/
  .footer__container {
    margin: 0 auto;
    max-width: 1368px;
    padding: 64px 36px;
  }

  .footer__logo a {
    font-size: 32px;
  }

  .footer__text,
  .footer__rights {
    font-size: 16px;
  }
}
